/* src/stylesComprarboleto.css */

/* Estilos específicos para el video */
.video-container {
    margin-top: 20px; /* Espaciado superior */
    border: 1px solid #ddd; /* Borde alrededor del contenedor del video */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo claro */
}

.video-container h3 {
    color: #333; /* Color del título */
}

.video-container video {
    width: 100%; /* Ancho del video */
    max-height: 500px; /* Altura máxima del video */
    border-radius: 5px; /* Bordes redondeados para el video */
}
