/* Asegura que el contenedor de las imágenes tenga un tamaño flexible */
.carrusel-img-container {
  width: 100%; /* Ajusta al 100% del contenedor padre */
  max-width: 500px; /* Máximo de 500px */
  height: auto; /* Altura automática para mantener la proporción */
  aspect-ratio: 5 / 6; /* Proporción de aspecto 5:6 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Para que las imágenes grandes no se desborden */
  margin: 0 auto; /* Centra el contenedor */
}

/* Estilo para las imágenes del carrusel */
.carrusel-img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
  object-fit: cover; /* Esto asegura que la imagen mantenga su proporción */
}
