/* src/headerComponent/styleHeader/header.css */

header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding: 0.3rem; /* Reduce padding */
  margin: 0; /* Sin márgenes */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: rgba(197, 229, 231, 0.719);
}


header img {
  width: 30px; /* Reducir el tamaño del logo */
}

.collapse{
  justify-content: space-between;
}


nav ul {
  flex-wrap: wrap;
  font-size: 0.9rem; /* Reducir el tamaño de la fuente */
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin padding */
}

nav ul li {
  margin: 0 0.5rem; /* Reducir margen entre elementos */
  padding: 0; /* Sin padding en items */
}

header .btn{
  background-color: rgb(214, 17, 214);
  max-width: 150px;
}

nav button, .btn {
  font-size: 0.8rem; /* Tamaño de fuente reducido */
  padding: 0.3rem 0.5rem; /* Reducir padding interno */
  margin: 0; /* Sin márgenes adicionales */
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  nav button, .btn {
    width: 100%; /* Ancho completo en móviles */
    font-size: 0.75rem; /* Más pequeño en móviles */
    padding: 0.3rem 0.4rem; /* Ajustar padding en móviles */
  }

  

  nav ul {
    font-size: 0.8rem; /* Más pequeño en móviles */
    background-color: rgba(197, 229, 231, 0.719);
  }

  header {
    padding: 0.2rem; /* Menor padding en móviles */
  }
}
