.modal.show {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-dialog {
    max-width: 600px;
  }
  
  .modal-content {
    background-color: #f8f9fa; /* Color de fondo más claro */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra alrededor del modal */
  }
  
  .modal-header {
    border-bottom: none; /* Sin línea divisoria */
  }
  
  .modal-title {
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    font-weight: bold;
  }
  
  .btn-close {
    background: transparent;
    border: none;
    font-size: 1.2rem;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    border-top: none; /* Sin línea divisoria */
    text-align: right;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  #paypal-button-container {
    margin-top: 20px;
    text-align: center;
  }
  