.bg-dark {
  background-color: #343a40; /* Color de fondo oscuro */
}

.text-white {
  color: white !important; /* Asegurarse de que el texto sea blanco */
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}
